services:
    wapp-dashboard:
        build: .
        container_name: wapp-dashboard
        restart: always
        env_file: .env
        ports:
            - '3000:3000'
        environment:
            - PORT=3000
